/bin
/boot
/build
/dev
/downloads
/etc
/home
/lib
/lib64
/man
/mnt
/opt
/proc
/root
/run
/sbin
/share
/sys
/tmp
/ts/build/.passwd
/ts/components
/usr
/var
/www
autodl
nohup.out
ts/build/boot-images
ts/build/packages/2x
ts/build/packages/acpi
ts/build/packages/adobereader
ts/build/packages/allfirmware
ts/build/packages/alltimezone
ts/build/packages/alsa
ts/build/packages/alsa-lib
ts/build/packages/alsa-plugins
ts/build/packages/asedriveiiie-usb
ts/build/packages/at-spi2-core
ts/build/packages/atftp
ts/build/packages/audit
ts/build/packages/autofs
ts/build/packages/automount
ts/build/packages/autonet
ts/build/packages/autoplaycd
ts/build/packages/autoruns
ts/build/packages/avahi
ts/build/packages/base
ts/build/packages/base-nss
ts/build/packages/bash
ts/build/packages/blueberry
ts/build/packages/bluez
ts/build/packages/broadcom-sta
ts/build/packages/ca-bundle
ts/build/packages/ccidreader
ts/build/packages/ccze
ts/build/packages/cdrtools
ts/build/packages/celular
ts/build/packages/cgdb
ts/build/packages/chrome
ts/build/packages/cifs
ts/build/packages/colord
ts/build/packages/conky
ts/build/packages/consolekit
ts/build/packages/coreutils
ts/build/packages/cpufreq
ts/build/packages/cpuspeed
ts/build/packages/cryptsetup
ts/build/packages/cups
ts/build/packages/curl
ts/build/packages/custom-background
ts/build/packages/custom-idle
ts/build/packages/dbus
ts/build/packages/dbus-python
ts/build/packages/desktop
ts/build/packages/devstation
ts/build/packages/dhclient
ts/build/packages/dhcpcd
ts/build/packages/dig
ts/build/packages/dillo
ts/build/packages/dmidecode
ts/build/packages/dnscrypt
ts/build/packages/dosfstools
ts/build/packages/dsniff
ts/build/packages/e2fsprogs
ts/build/packages/e3
ts/build/packages/easytether
ts/build/packages/edge
ts/build/packages/eekboard
ts/build/packages/egalax
ts/build/packages/epsonescpr
ts/build/packages/ethtool
ts/build/packages/evince
ts/build/packages/extensions
ts/build/packages/extensions-x
ts/build/packages/fbset
ts/build/packages/ffmpeg
ts/build/packages/file
ts/build/packages/file-roller
ts/build/packages/filezilla
ts/build/packages/firefox
ts/build/packages/firewall
ts/build/packages/firmware-ap6214a
ts/build/packages/flash
ts/build/packages/fontconfig
ts/build/packages/fonts-100dpi-Adobe
ts/build/packages/fonts-100dpi-Adobe-Utopia
ts/build/packages/fonts-100dpi-BH
ts/build/packages/fonts-100dpi-BH-Typewriter
ts/build/packages/fonts-100dpi-Bitstream
ts/build/packages/fonts-75dpi-Adobe
ts/build/packages/fonts-75dpi-Adobe-Utopia
ts/build/packages/fonts-75dpi-BH
ts/build/packages/fonts-75dpi-BH-Typewriter
ts/build/packages/fonts-75dpi-Bitstream
ts/build/packages/fonts-cyrillic
ts/build/packages/fonts-jis-misc
ts/build/packages/fonts-misc
ts/build/packages/fonts-Speedo-Bitstream
ts/build/packages/fonts-TTF-BH
ts/build/packages/fonts-TTF-liberation
ts/build/packages/fonts-TTF-MS
ts/build/packages/fonts-TTF-noto
ts/build/packages/fonts-TTF-vera
ts/build/packages/fonts-Type1-Adobe-Utopia
ts/build/packages/fonts-Type1-BH
ts/build/packages/fonts-Type1-Bitstream
ts/build/packages/fonts-Type1-IBM
ts/build/packages/fonts-Type1-xfree86
ts/build/packages/fonts-util
ts/build/packages/foo2zjs
ts/build/packages/freedesktop
ts/build/packages/freerdp
ts/build/packages/fuse
ts/build/packages/fuse3
ts/build/packages/galculator
ts/build/packages/gdb
ts/build/packages/gdk-pixbuf
ts/build/packages/geany
ts/build/packages/ghostscript
ts/build/packages/git
ts/build/packages/glib
ts/build/packages/gnome-bluetooth
ts/build/packages/gnome-control-center
ts/build/packages/gnome-core
ts/build/packages/gnome-datetime
ts/build/packages/gnome-nettool
ts/build/packages/gnome-network
ts/build/packages/gnome-printers
ts/build/packages/gnome-pulse
ts/build/packages/gnome-search-tool
ts/build/packages/gparted
ts/build/packages/gpicview
ts/build/packages/gptfdisk
ts/build/packages/graphviz
ts/build/packages/grilo
ts/build/packages/gst-compat
ts/build/packages/gst-libav
ts/build/packages/gst-plugins-bad
ts/build/packages/gst-plugins-base
ts/build/packages/gst-plugins-good
ts/build/packages/gst-plugins-ugly
ts/build/packages/gstreamer
ts/build/packages/gtk-2.0
ts/build/packages/gtk-3.0
ts/build/packages/gtk-engines
ts/build/packages/gtk-theme-adwaita
ts/build/packages/gtkdialog
ts/build/packages/gtksourceview
ts/build/packages/gutenprint
ts/build/packages/haveged
ts/build/packages/hdd-spindown
ts/build/packages/hdupdate
ts/build/packages/hpijs
ts/build/packages/https_everywhere
ts/build/packages/hwlister
ts/build/packages/ica
ts/build/packages/icewm
ts/build/packages/icewm-theme-bernstein
ts/build/packages/icewm-theme-bluecrux
ts/build/packages/icewm-theme-liquid
ts/build/packages/icewm-theme-winclassic2
ts/build/packages/icewm-theme-xp
ts/build/packages/icewm-themes
ts/build/packages/icons-adwaita
ts/build/packages/icons-cursor
ts/build/packages/icons-gnome
ts/build/packages/icons-hicolor
ts/build/packages/icons-tango
ts/build/packages/idesk
ts/build/packages/idle-shutdown
ts/build/packages/ids
ts/build/packages/imlib2
ts/build/packages/inetutils
ts/build/packages/inkscape
ts/build/packages/inotify-tools
ts/build/packages/inputattach
ts/build/packages/installer
ts/build/packages/introspection
ts/build/packages/iphone
ts/build/packages/iproute2
ts/build/packages/iptables
ts/build/packages/java
ts/build/packages/jq
ts/build/packages/kiosk
ts/build/packages/kismet
ts/build/packages/krb5
ts/build/packages/leafpad
ts/build/packages/libblockdev
ts/build/packages/libinput
ts/build/packages/libpeas
ts/build/packages/libreoffice
ts/build/packages/libva
ts/build/packages/libxml2-python
ts/build/packages/lightdm
ts/build/packages/lighttpd
ts/build/packages/local-install
ts/build/packages/locale
ts/build/packages/locale-cs_CZ
ts/build/packages/locale-da_DK
ts/build/packages/locale-de_DE
ts/build/packages/locale-en_GB
ts/build/packages/locale-en_US
ts/build/packages/locale-es_ES
ts/build/packages/locale-fi_FI
ts/build/packages/locale-fr_BE
ts/build/packages/locale-fr_CA
ts/build/packages/locale-fr_CH
ts/build/packages/locale-fr_FR
ts/build/packages/locale-hr_HR
ts/build/packages/locale-hu_HU
ts/build/packages/locale-it_IT
ts/build/packages/locale-ja_JP
ts/build/packages/locale-nb_NO
ts/build/packages/locale-nl_BE
ts/build/packages/locale-pl_PL
ts/build/packages/locale-pt_BR
ts/build/packages/locale-pt_PT
ts/build/packages/locale-ru_RU
ts/build/packages/locale-sv_SE
ts/build/packages/locale-tr_TR
ts/build/packages/lp_server
ts/build/packages/lpr
ts/build/packages/lprng
ts/build/packages/lsb
ts/build/packages/lshw
ts/build/packages/lxappearance
ts/build/packages/lxinput
ts/build/packages/lxkeymap
ts/build/packages/lxml
ts/build/packages/medit
ts/build/packages/meld
ts/build/packages/messagebox
ts/build/packages/minicom
ts/build/packages/mjpg-streamer
ts/build/packages/mkdrv
ts/build/packages/modemmanager
ts/build/packages/modprobe
ts/build/packages/most
ts/build/packages/mplayer
ts/build/packages/mtools
ts/build/packages/mtpaint
ts/build/packages/multiping
ts/build/packages/nano
ts/build/packages/netfiles
ts/build/packages/networkmanager
ts/build/packages/nfs
ts/build/packages/nfsserver
ts/build/packages/nmap
ts/build/packages/nohup
ts/build/packages/nomachine
ts/build/packages/noscript
ts/build/packages/notification-daemon
ts/build/packages/nscd
ts/build/packages/nss
ts/build/packages/ntfs-3g
ts/build/packages/ntp
ts/build/packages/nx
ts/build/packages/ocsinventory
ts/build/packages/octoprint
ts/build/packages/open-vm-tools
ts/build/packages/openbox
ts/build/packages/openconnect
ts/build/packages/openkiosk
ts/build/packages/openmotif
ts/build/packages/opensc
ts/build/packages/openssh
ts/build/packages/openssl
ts/build/packages/openvpn
ts/build/packages/overlayfs
ts/build/packages/p11-kit
ts/build/packages/pango
ts/build/packages/parted
ts/build/packages/pavucontrol
ts/build/packages/pcmanfm
ts/build/packages/pcscd
ts/build/packages/perl
ts/build/packages/php-fcgi
ts/build/packages/pidgin
ts/build/packages/pidgin-otr
ts/build/packages/pidgin-sipe
ts/build/packages/ping
ts/build/packages/plymouth
ts/build/packages/pm-utils
ts/build/packages/poff
ts/build/packages/polkit
ts/build/packages/ppp
ts/build/packages/procps
ts/build/packages/pulseaudio
ts/build/packages/putty
ts/build/packages/pycairo
ts/build/packages/pycups
ts/build/packages/pycurl
ts/build/packages/pygobject
ts/build/packages/pygtk
ts/build/packages/python
ts/build/packages/python3
ts/build/packages/pyxdg
ts/build/packages/rdesktop
ts/build/packages/remmina
ts/build/packages/replimenu
ts/build/packages/rngd
ts/build/packages/rox
ts/build/packages/samba-base
ts/build/packages/samba-client
ts/build/packages/samba-print
ts/build/packages/samba-server
ts/build/packages/samsunguld
ts/build/packages/sane
ts/build/packages/scapy
ts/build/packages/scp
ts/build/packages/screen
ts/build/packages/scrot
ts/build/packages/set-resolution
ts/build/packages/sg3_utils
ts/build/packages/skype
ts/build/packages/smtp
ts/build/packages/sound-nasd
ts/build/packages/spice
ts/build/packages/spice-vdagent
ts/build/packages/splash
ts/build/packages/ssh
ts/build/packages/sshagent
ts/build/packages/sshd
ts/build/packages/sshfs-fuse
ts/build/packages/strace
ts/build/packages/strongswan
ts/build/packages/stunnel
ts/build/packages/sudo
ts/build/packages/switchuser
ts/build/packages/syslog-ng
ts/build/packages/system-config-printer
ts/build/packages/systemd
ts/build/packages/talkplugin
ts/build/packages/tarantella
ts/build/packages/tcl
ts/build/packages/tcpdump
ts/build/packages/teams
ts/build/packages/telnet
ts/build/packages/telnetd
ts/build/packages/template
ts/build/packages/terminal
ts/build/packages/terminfo
ts/build/packages/tftpd
ts/build/packages/thinlinc
ts/build/packages/thunar
ts/build/packages/timesyncd
ts/build/packages/tn5250
ts/build/packages/tor
ts/build/packages/totem
ts/build/packages/traydevice
ts/build/packages/ts-classic
ts/build/packages/tzupdate
ts/build/packages/udisks
ts/build/packages/upower
ts/build/packages/urxvt
ts/build/packages/usb-redirector
ts/build/packages/usbmodeswitch
ts/build/packages/useragentswitcher
ts/build/packages/usermode
ts/build/packages/util-linux
ts/build/packages/v4l-utils
ts/build/packages/vala
ts/build/packages/vboxguest
ts/build/packages/vhusbip
ts/build/packages/vim
ts/build/packages/vmsterm
ts/build/packages/vmview
ts/build/packages/vncviewer
ts/build/packages/volumeicon
ts/build/packages/wbar
ts/build/packages/webkit-gtk2
ts/build/packages/wget
ts/build/packages/wgetpaste
ts/build/packages/wifi-connect
ts/build/packages/wine
ts/build/packages/wireless
ts/build/packages/wireshark
ts/build/packages/wmsetbg
ts/build/packages/wpa_supplicant
ts/build/packages/www
ts/build/packages/x-common
ts/build/packages/x-common-nss
ts/build/packages/xapp
ts/build/packages/xdesktop-kiosk
ts/build/packages/xdmcp-connect
ts/build/packages/xerces-c
ts/build/packages/xfburn
ts/build/packages/xfce4-power-manager
ts/build/packages/xfce4-xkb-plugin
ts/build/packages/xfs-utils
ts/build/packages/xfwm4
ts/build/packages/xfwm4-extra
ts/build/packages/xidle
ts/build/packages/xinetd
ts/build/packages/xmenu
ts/build/packages/xnest
ts/build/packages/xorg7
ts/build/packages/xorg7-amdgpu
ts/build/packages/xorg7-ati
ts/build/packages/xorg7-glamor
ts/build/packages/xorg7-intel
ts/build/packages/xorg7-nouveau
ts/build/packages/xorg7-openchrome
ts/build/packages/xorg7-qxl
ts/build/packages/xorg7-sis
ts/build/packages/xorg7-vesa
ts/build/packages/xorg7-vmware
ts/build/packages/xorg7-xinput
ts/build/packages/xorg7-xinput-calibrator
ts/build/packages/xorg7_fglrx
ts/build/packages/xorg7_nvidia
ts/build/packages/xorg7vnc
ts/build/packages/xterm
ts/build/packages/xvkbd
ts/build/packages/zarfy
ts/build/packages/zenity
ts/build/packages/zip
ts/build/packages/zlivecd
ts/build/packages/zoneinfo
ts/build/tmp-tree/
ts/build/utils/tools/splash/default
ts/etc/READ
ts/ports/binary-core

